<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanker.loginmodule">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.TankerLoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>
        <!--找回密码-->
        <activity
            android:name=".view.TankerRetrieveActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.DebugActivity"/>

        <activity
            android:name=".view.TankerRegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.TankerRegisterSuccessActivity"
            android:launchMode="singleTask" />

    </application>


</manifest>
