<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanker.homemodule">

    <application>
        <activity android:name=".view.BillActivity"></activity>
        <activity android:name=".view.BillDetailActivity"></activity>
    </application>

</manifest>