<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanker.homemodule">

    <application>
        <activity android:name=".view.BillActivity" />
        <activity android:name=".view.BillDetailActivity" />
        <activity android:name=".view.AddBillActivity" />
        <activity android:name=".view.FaultActivity" />
        <activity
            android:name=".view.FaultAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.FaultDetailActivity" />
        <activity android:name=".view.MileageActivity" />
        <activity
            android:name=".view.MileageAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>