<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanker.orders">
    <!--拨打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.tanker.basemodule.common.TankerApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".debug.TestTankerGraborderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity
             android:name=".view.DispatcherCarActivity"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>-->

        <!--抢单详情-->
        <activity
            android:name=".view.TankerGrabOrderDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.TankerQuotedGraborderDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.TankerQuotedGraborderDetailActivity"
            android:launchMode="singleTop" />

        <!--竞价失败详情界面-->
        <activity
            android:name=".view.TankerBiddingFailGraborderDetailActivity"
            android:launchMode="singleTop" />

        <!--选择好的车辆司机信息-->

        <!--车辆司机信息-->
        <activity
            android:name=".view.DispatcherCarActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>
